.venntooltip {
    font-size: 14px;
    position: absolute;
    text-align: center;
    width: 150px;
    height: 85px;
    background: #333;
    color: #fff;
    padding: 2px;
    border: 0px;
    border-radius: 8px;
    opacity: 0;
}

.venn {
    float: right;
}

svg {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12px;
}


/**
* Sunburst Diagram
**/
mv-abundance-sunburst
{
  width: 900px;
  height:600px;
}

.sunburst-main {
  /*float: left;*/
  width: 750px;
}

.sunburst-sidebar {
  float: right;
  width: 100px;
}

.sunburst-sequence {
  width: 600px;
  height: 70px;
}

.sunburst-legend {
  padding: 10px 0 0 3px;
}

.sunburst-sequence text, .sunburst-legend text {
  font-weight: 500;
  fill: black;
}

.sunburst-chart {
  position: relative;
}

.sunburst-chart path {
  stroke: #fff;
}

.sunburst-explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

.sunburst-percentage {
  font-size: 2.5em;
}