<div class="form-group">
    <div class="col-sm-8">
        <label>
            <input type="radio" name="readsOptions" id="uploadReads" value="client" ng-model="experiment.source" checked>
            Upload reads file
        </label>
        <div ng-include="'views/readsupload.html'"
             ng-controller="ReadsUploaderController" nv-file-drop=""
             uploader="uploader" filters="queueLimit, customFilter" ng-show="experiment.source==='client'">
        </div>

    </div>

    <div class="col-sm-4">
        <label>
            <input type="radio" name="readsOptions" id="useSimulated" value="server" ng-model="experiment.source">
            Use simulated reads from the server
        </label>

        <div class="well well-scrollable" ng-show="experiment.source==='server'">
            <ul class="pull-left list-unstyled">
                <li class=pull-left" ng-repeat="data in availableDatabase">
                    <div class="checkbox">
                        <label class="checkbox-inline">
                            <input ng-model="data.selected" type="radio" name="simulatedReads" value="">
                            <span class="label label-warning">{{data.name}}</span>
                        </label>
                    </div>
                </li>
            </ul>

        </div>

    </div>
</div>


