.idea/**
.vscode/**
app/dist/**
app/uploads/*
node_modules/**/*
bower_components/**/*
app/build/**
app/metaviz/dist/**
app/metaviz/metaviz.js
app/server/routes/*.js
app/server/models/*.js
app/client/scripts/*.js
